<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>이날어때?!</title>
		<meta name="description" content="A tutorial on how to recreate the effect of YouTube's little left side menu. The idea is to slide a little menu icon to the right side while revealing some menu item list beneath. " />
		<meta name="keywords" content="Add keywords" />
		<meta name="author" content="_yourName_ for Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="./css/default.css" />
		<link rel="stylesheet" type="text/css" href="./css/component.css" />
		<script src="js/modernizr.custom.js"></script>
        
	</head>
    <style>
        *{margin:0; padding:0;}
        
        .wrapper{width: 1300px; margin:0 auto;}
        .clearfix{content:''; display:block; clear:both;}
        
        header{height:80px; background-color:#414240;
            position:fixed; width:100%; z-index:9999; top:0; left:0;}
        h1{line-height:80px; float:left;}
        .dr-menu{float:right;}
        .dr-menu li{float:left;}
        .dr-menu a{line-height:70px; padding:0 15px; display: block;}
        
        body{margin-top:80px; margin-bottom:100px}
        footer{height:100px; background-color:floralwhite;
            position:fixed; width:100%; left:0; bottom:0;border:1px solid white}
    
    </style>
    <header class="clearfix">
        <div class = "wrapper">
            <table>
                <tr>
                    <td><a href="http://localhost:5010/"><img src="./good.png" width="40" height="40" ></a></td>
                    <td><h1 style="font-size:40pt"><a href="http://localhost:5010">INAL UTTE ?!</a></h1></td>
                </tr>
            </table>
        </div>
    </header>
	<body>
		<div class="container">	
            <div style="width:200px; float:left;"><br></div>
			
			<div class="main" style="width:1000px; float:left;">
                <br>
                <h2>그 날엔 몇 명이 왔었을까?</h2>
                <br>
                <script>
                    var year1 = <%- JSON.stringify(year) %>;
                    var month1 = <%- JSON.stringify(month) %>;
                    var day1 = <%- JSON.stringify(day) %>;
                    var pnum = <%- JSON.stringify(pnum) %>;
                    var holiday = <%- JSON.stringify(holiday) %>;
                    var temperature = <%- JSON.stringify(temperature) %>;
                    var rain = <%- JSON.stringify(rain) %>;
                    console.log(year1+"년 "+month1+"월 "+day1+"일의 입장객은 "+pnum+"명 이었고");
                    
                    document.write("<h1>");
                    document.write(year1+"년"+month1+"월"+day1+"일의 입장객은 "+pnum+"명 이었고");
                    document.write("</h1>");
                    document.write("<h2>");
                    document.write("온도는 "+temperature+"'C, 강수량은 "+rain+"mm였어요.");
                    document.write("</h2>");        
                    if(holiday==1)
                        {
                            document.write("<h2><br>");
                            document.write("이 날은 공휴일이라 평소보다 사람이 많을 수도 있었겠어요.");
                            document.write("</h2>");
                        }
                </script>
            
         </div>
            <div style="width:300px; float:left; height: 1000px; background-color:#6FCC98">
					<nav class="dr-menu">
						<div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">Menu</a></div>
						<ul>
                            <li><a class="dr-icon dr-icon-user" href="http://localhost:5010/date">예측하러 가기</a></li>
                            <li><a class="dr-icon dr-icon-heart" href="http://localhost:5010/weather">이번주 날씨</a></li>
                            <li><a class="dr-icon dr-icon-camera" href="http://localhost:5010/amusementpark">놀이공원 정보</a></li>
                            <li><a class="dr-icon dr-icon-user" href="http://localhost:5010/pastinfo">과거 입장객 수</a></li>
                            <li><a class="dr-icon dr-icon-bullhorn" href="http://localhost:5010/help">서비스 설명</a></li>
                            <li><a class="dr-icon dr-icon-user" href="http://localhost:5010">Home</a></li>
						</ul>
					</nav>
				</div>
		</div><!-- /container -->
		<script src="js/ytmenu.js"></script>
	</body>
    <footer style="background: #FFEFD5">
        <center>
            <h3 style="color:black">
                <img src="광고2.jpg" style="width:550px; height:100px;">    <img src="광고1.jpg" style="width:550px; height:100px;">
            </h3></center>
    </footer>
</html>