<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>이날어때?!</title>
		<meta name="description" content="A tutorial on how to recreate the effect of YouTube's little left side menu. The idea is to slide a little menu icon to the right side while revealing some menu item list beneath. " />
		<meta name="keywords" content="Add keywords" />
		<meta name="author" content="_yourName_ for Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="./css/default.css" />
		<link rel="stylesheet" type="text/css" href="./css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
    <style>
        *{margin:0; padding:0;}
        .wrapper{width: 1300px; margin:0 auto;}
        .clearfix{content:''; display:block; clear:both;}
        
        header{height:80px; background-color:#389561;
            position:fixed; width:100%; z-index:9999; top:0; left:0;}
        h1{line-height:80px; float:left;}
        .dr-menu{float:right;}
        .dr-menu li{float:left;}
        .dr-menu a{line-height:70px; padding:0 15px; display: block;}
        
        body{margin-top:80px; margin-bottom:100px}
        
        footer{height:100px; background-color:floralwhite;
            position:fixed; width:100%; left:0; bottom:0;border:1px solid white}
    </style>
    
    <header class="clearfix">
        <div class = "wrapper">
        <h1 style="font-size:40pt"><a href="http://localhost:5010">INAL UTTE ?!</a></h1>
<!--
        <nav class="dr-menu">
            <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">Menu</a></div>
            <ul>
                <li><a class="dr-icon dr-icon-user" href="http://localhost:5010/date">예측 하러 가기</a></li>
                <li><a class="dr-icon dr-icon-camera" href="http://localhost:5010/weather">이번주 날씨 보기</a></li>
                <li><a class="dr-icon dr-icon-user" href="http://localhost:5010/amusementpark">놀이공원 정보</a></li>
                <li><a class="dr-icon dr-icon-heart" href="http://localhost:5010/pastinfo">과거 입장객 수</a></li>
                <li><a class="dr-icon dr-icon-camera" href="http://localhost:5010/help">서비스 설명</a></li>
            </ul>
        </nav>
-->
        </div>

    </header>
    
	<body>
			
			<div class="container">	
                <div style="width:200px; float:left;"><br></div>
			
			<div class="main" style="width:1000px; float:left">
            <a href ="https://booking.naver.com/booking/5/bizes/215255" target="_blank">
                <h2>롯데월드 (클릭하면네이버예약)</h2></a>     
                <br>
                    <table border="1">
                <th>종류</th>
                <th>어른</th>
                <th>청소년</th>
                <th>어린이</th>
                <th>베이비</th>
                <tr><!-- 첫번째 줄 시작 -->
                    <td>주간권</td>
                    <td>57000원</td>
                    <td>50000원</td>
                    <td>46000원</td>
                    <td>14000원</td>
                </tr><!-- 첫번째 줄 끝 -->
                <tr><!-- 두번째 줄 시작 -->
                    <td>야간권(16시~)</td>
                    <td>46000원</td>
                    <td>40000원</td>
                    <td>35000원</td>
                    <td>14000원</td>
                </tr><!-- 두번째 줄 끝 -->
                </table>
                <div>제휴카드 정보는 홈페이지에 가서 확인하세요</div>
                <img src="./애버랜드.jpg" width="200" height="150">
                <img src="./에버랜드2.jpg" width="200" height="150">
				
			</div>
                <div style="width:300px; float:left; height: 1000px; background-color:#6FCC98">
					<nav class="dr-menu">
						<div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">List</a></div>
						<ul>
							<li><a class="dr-icon dr-icon-user" href="http://localhost:5010/everland">에버랜드</a></li>
							<li><a class="dr-icon dr-icon-camera" href="http://localhost:5010/lotteworld">롯데월드</a></li>
							<li><a class="dr-icon dr-icon-heart" href="http://localhost:5010/eworld">대구 e월드</a></li>
                            <li><a class="dr-icon dr-icon-user" href="http://localhost:5010">Home</a></li>
						</ul>
					</nav>
				</div>
		</div><!-- /container -->
		<script src="js/ytmenu.js"></script>
	</body>
        <footer>
        <center>
            <h3 style="color:black">
                <br>롯데월드 할로윈 온라인 티켓 예매 오픈!10/21(월)부터~
            </h3></center>
    </footer>
</html>