<!DOCTYPE html>
<html lang="en">
    <style>
    .button {
                 border:1x dashed #ff0080;    /*---테두리 정의---*/
                 background-Color:#ffe1f2;   /*--백그라운드 정의---*/
                 font:20px 굴림;      /*--폰트 정의---*/
                 font-weight:bold;   /*--폰트 굵기---*/
                 color:#ff0080;    /*--폰트 색깔---*/
                 width:100px;
                 height:30px;  /*--버튼 크기---*/
                 align-items: center;
                 justify-content: center;
             }
    </style>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>이날어때?!</title>
		<meta name="description" content="A tutorial on how to recreate the effect of YouTube's little left side menu. The idea is to slide a little menu icon to the right side while revealing some menu item list beneath. " />
		<meta name="keywords" content="Add keywords" />
		<meta name="author" content="_yourName_ for Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="./css/default.css" />
		<link rel="stylesheet" type="text/css" href="./css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<body>
		<div class="container">	
			<!-- Codrops top bar -->
			<div class="codrops-top clearfix">
				<a href="http://tympanus.net/Development/FullscreenLayoutPageTransitions/"><strong>&laquo; Previous Demo: Fullscreen Layout with Page Transitions</strong></a>
				<span class="right"><a href="http://tympanus.net/codrops/?p=14806"><strong>Back to the Codrops Article</strong></a></span>
			</div><!--/ Codrops top bar -->
			<header class="clearfix">
				<h1>이날어때?!<span>(inalutte)</span></h1>	
			</header>
			<div class="main">
				<p>날씨 상황입니다</p>
                <br><br><br>
                <h3>도시 이름을 영어로 입력해주세요 (ex:서울->seoul,부산->busan 등등)</h3>
                <br>
                <input id="city" value="seoul"> </input>

<button id="getWeatherForcast" class = 'button'>날씨보기</button><!-- 버튼을 누르면 지역이 뜸 -->

<div id="showWeatherForcast"></div>

<img id="weatherImg"/>

<script type="text/javascript">

$(document).ready(function(){

    $("#getWeatherForcast").click(function(){

        var atmos;
        var city = $("#city").val();//입력한 도시정보 가져오는듯 - 단일 모드
        var key = '36306aa3ee496393a49c392f323c30fe';
        
        //var weekday = ['월', '화', '수', '목', '금', '토', '일'];
        var d = new Date();

        $.ajax({/* ajax는 새로고침할 필요없이 버튼을 클릭하면 자동으로 새로 기능이 수행하게끔 해준다. */

            url: 'https://api.openweathermap.org/data/2.5/forecast?appid='+key+'&q='+city+'&count=10',//이미지

            dataType: 'json',

            type: 'GET',

            success: function(data){//출력부
                console.log('Received data:', data)
                var wf = '';
                var atmos = "";
                
                var date = d.getDate();
                var month = d.getMonth();
                //var weekdate = d.getDay();
                var day = date;
                var m = month+1;
                

                wf += "<h2>" + data.city.name + "</h2>"; // City (displays once)
                $.each(data.list, function(index, val) {
                    wf += "<p>" // Opening paragraph tag
                    if(index%8==0){
                      wf += "<b>"+m+"월"+ (day + index/8) +"일</b>: " // Day
                      wf += (val.main.temp-273.15).toFixed(1) + "&degC" // Temperature
                      wf += "<span> | " + val.weather[0].description + "</span>"; // Description
                      wf += "<img src='https://openweathermap.org/img/w/" + val.weather[0].icon + ".png'>" // Icon
                    }
                      wf += "</p>" // Closing paragraph tag
                });
            $("#showWeatherForcast").html(wf);      
            }   
        });
    });
});

</script>

				<div class="side">
					<nav class="dr-menu">
						<div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">Account</a></div>
						<ul>
                            <li><a class="dr-icon dr-icon-user" href="http://localhost:5010">뒤로가기</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div><!-- /container -->
		<script src="js/ytmenu.js"></script>
	</body>
</html>